<% settings = Setting.plugin_redmine_audit_assistant %>

<h2><%= l(:progress_report_title) %></h2>

<%= form_tag 'progress-report?project_id='+@project.id.to_s, :id => 'progress_report_form' do |f| %>

<div class="box tabular">
	<p>
		<label><%= l(:label_date_range)%></label>
		<%= select_tag(:period, options_for_select(@periods))%>
	</p>
	<p>
		<label><%= l(:field_fixed_version)%></label>
		<%= select_tag(:version_id, options_for_select(@select_versions))%>
	</p>
</div>

<div class="autoscroll">
	<h4><%= l(:current_issues_to_work_on) %></h4>
	<table class="list issues">
		<thead>
			<th class="checkbox hide-when-print">
				<%= image_tag "toggle_check.png", :class => 'toggle-check', :alt => "Toggle_check" %>
			</th>
			<th>#</th>
			<th><%= l(:field_tracker)%></th>
			<th><%= l(:field_status)%></th>			
			<th><%= l(:field_priority)%></th>
			<th><%= l(:field_subject)%></th>
			<th><%= l(:field_assigned_to)%></th>
			<th><%= l(:field_estimated_hours)%></th>		
		</thead>
		<tbody>
			<% for @issue in @issues %>
				<tr data-version="<%= @issue.fixed_version_id %>">
					<td><%= check_box_tag 'issues_ids[]', @issue.id %></td>
					<td><%= @issue.id %></td>
					<td><%= @issue.tracker.name %></td>
					<td><%= @issue.status.name %></td>
					<td><%= @issue.priority.name %></td>
					<td style="text-align: left;"><%= @issue.subject %></td>
					<td><%= @issue.assigned_to.to_s %></td>
					<td><%= @issue.estimated_hours %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<h4><%= l(:members_occupations) %></h4>
<div class="box tabular">
	<% for @user in @users %>
		<p>
			<label><%= @user.to_s %></label>
			<%= text_field_tag "member_occupation["+@user.id.to_s+"]", settings['occupation_person'], :size => 3 %> %
			<%= text_field_tag "days_off["+@user.id.to_s+"]", "0", :size => 3, :class => 'input_days_off' %> 
			<%= l(:nb_days_off) %>
		</p>
	<% end %>
</div>

<div class="box tabular">
	<p>
		<label><%= l(:time_switching_issues) %></label>
		<%= text_field_tag "time_switching_issues", settings['time_switching_issues'], :size => "3" %> <%= l(:time_switching_issues_unit) %>
	</p>
	<p>
		<label><%= l(:label_start_time) %></label>
		<%= text_field_tag "start_time", settings['start_time'], :size => "3" %> <%= l(:start_time_unit) %>
	</p>
</div>

<div class="box tabular">	
	<p>
		<label><%= l(:what_went_wrong) %></label>
		<%= text_area_tag "what_went_wrong", "", :rows => "10" %>
	</p>	
</div>

<%= submit_tag l(:button_generate_report) %>
<% end %>

<script type="text/javascript">
	
	$(document).ready(function() {
		
		var version_selector = '#version_id';
		var issues_selector = '.issues';
		var period_selector = '#period';
		
		$(period_selector).change(function() {
			reloadView();
		});
		
		$(version_selector).change(function() {
			reloadView();
		});
		
		var reloadView = function() {
			var url = $('#progress_report_form').attr('action');
			url += '&date_from='+$(period_selector).val();
			url += '&version_id='+$(version_selector).val();
			document.location.href = url;
		}
		
		$(period_selector+' option').each(function(i, e) {
			var date_from = '<%= params[:date_from] %>';
			if ($(e).attr('value') == date_from && date_from != '') {
				$(e).attr('selected', 'selected');
			}
		});
		
		$(version_selector+' option').each(function(i, e) {
			var version_id = '<%= params[:version_id] %>';
			if ($(e).attr('value') == version_id && version_id != '') {
				$(e).attr('selected', 'selected');
			}
		});
		
		$('.toggle-check').click(function() {
			var selector = issues_selector+' input[type=checkbox]'
			var checked = $(selector).prop('checked');
			if (!checked) {
				$(selector).prop('checked', true);
			}else{
				$(selector).prop('checked', false);
			}
		});
		
	});
	
</script>
